body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 16px;
}

body, input {
  font-size: 20px;
}

.error {
  font-size: 100px;
  font-weight: bold;
  color: #c00000;
  padding-top: 30vh;
  width: 100%;
  text-align: center;
}