.body {
  box-sizing: border-box;
  padding: 2em 0;
  width: 30em;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.list {
  padding: 0;
  list-style: none;
}

.all {
  width: 100%;
  margin-bottom: 1em;
}